body {
    background-color: #3adfd6c0;
    margin: 18%;
}
h1, h2 {
   
    text-transform: uppercase;
    color: #ce1212ed;
}
div {
    display: flex;
   
}
.receita {
    font-style: italic;
    background-color: #25c7c7a1;
   
}
fieldset {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid black;
    font-size: 20px;
    width: 350px;
    margin-left: 15%;
}
#nome {
  margin-bottom: 10px;
  height: 25px;
  border: 1px solid black;
}
#comentario {
    margin-bottom: 10px;
    border: 1px solid black;
}
#botao {
    font-size: 15px;
    margin-bottom: 10px;
    border: 1px solid black;
    height: 25px;
}
