.a{
    font-size: 15px;
    font-style: italic;
}
.b{
    font-size: 505px;
    font-family: 'Courier New', Courier, monospace;
}
.c{
    font-size: 75px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.d{
    font-size: 93px;
    font-family: 'Times New Roman', Times, serif;
}
.e{
    font-size: 500px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}